{% extends "base.html" %}

  {% block content %}

    <h5 class="card shadow"> subir un archivo <a href="/signup">Excel</a></h5>
    <h1 class="m-0 font-weight-bold text-secondary">Este es tu nuevo KarHorario</h1>
    <div class="card-body">
      <table width="100%" border="1" bordercolor="#0000FF" cellspacing="10" cellpadding="10"">

        <div class="card shadow">
          <tr>
            <th bgcolor="yellow" >Bloque</th>
            <th bgcolor="#7FFFD4">Lunes</th>
            <th bgcolor="#FF00FF"	>Martes</th>
            <th bgcolor="#FF7F00">Miércoles</th>
            <th bgcolor="#7FFF00">Jueves</th>
            <th bgcolor="#5F9EA0">Viernes</th>
          </tr>
        </div>
        <tr>
          <th bgcolor="yellow">08:30 - 09:50</th>
          <td bgcolor="#7FFFD4">Applied Mathematics </td>
          <td bgcolor="#FF00FF"	>Computer Networks</td>
          <td bgcolor="#FF7F00">Information Theory and Coding</td>
          <td bgcolor="#7FFF00">Computer Organization and Architecture</td>
          <td bgcolor="#5F9EA0">Automata Theory</td>
          </div>
          </tr>
          <tr>
          <th bgcolor="yellow">10:00 - 11:20</th>
          <td bgcolor="#7FFFD4">Information Theory and Coding</td>
          <td bgcolor="#FF00FF"	>Web Programming</td>
          <td bgcolor="#FF7F00">Computer Networks</td>
          <td bgcolor="#7FFF00">Computer Networks</td>
          <td bgcolor="#5F9EA0">Automata Theory</td>

          </div>
          </tr>
          <tr>
          <th bgcolor="yellow">11:30 - 12:50</td>
          <td bgcolor="#7FFFD4">Applied Mathematics</th>
          <td bgcolor="#FF00FF"	>Information Theory and Coding</td>
          <td bgcolor="#FF7F00">Automata Theory</td>
          <td bgcolor="#7FFF00">Computer Networks</td>
          <td bgcolor="#5F9EA0">Web Programming</td>

          </div>
          </tr>
          <tr>

          <th bgcolor="yellow">13:00 - 14:20</th>
          <td bgcolor="#7FFFD4">Applied Mathematics</td>
          <td bgcolor="#FF00FF"	>Computer Organization and Architecture</td>
          <td bgcolor="#FF7F00">Automata Theory</td>
          <td bgcolor="#7FFF00">Web Programming</td>
          <td bgcolor="#5F9EA0">Information Theory and Coding</td>
          </div>
          </tr>

          <tr>
          <th bgcolor="yellow">14:30 - 15:50</th>
          <td bgcolor="#7FFFD4">Applied Mathematics</td>
          <td bgcolor="#FF00FF"	>Web Programming</td>
          <td bgcolor="#FF7F00">Automata Theory</td>
          <td bgcolor="#7FFF00">Computer Organization and Architecture</td>
          <td bgcolor="#5F9EA0">Information Theory and Coding</td>

          <tr>
            <th bgcolor="yellow">16:00 - 17:20</th>
            <td bgcolor="#7FFFD4">Applied Mathematics</td>
            <td bgcolor="#FF00FF"	>Web Programming</td>
            <td bgcolor="#FF7F00">Automata Theory</td>
            <td bgcolor="#7FFF00">Computer Organization and Architecture</td>
            <td bgcolor="#5F9EA0">Information Theory and Coding</td>

            <tr>
              <th bgcolor="yellow">17:30 - 16:50</th>
              <td bgcolor="#7FFFD4">Applied Mathematics</td>
              <td bgcolor="#FF00FF"	>Web Programming</td>
              <td bgcolor="#FF7F00">Automata Theory</td>
              <td bgcolor="#7FFF00">Computer Organization and Architecture</td>
              <td bgcolor="#5F9EA0">Information Theory and Coding</td>

        </div>
        </tr>

        </table>
    </div>
  {% endblock %}