{% extends "base.html" %}

  {% block content %}
    <h5> subir un archivo <a href="/signup">Excel</a></h5>
     <h1>Este es tu nuevo KarHorario</h1>
     <table width="80%" align="center” border=”2”>

      <div id="head_nav">
      
      <tr> <th>Time</th>
      
      <th>Lunes</th>
      
      <th>Martes</th>
      
      <th>Miércoles</th>
      
      <th>Jueves</th>
      
      <th>Viernes</th>
      
      </tr>
      
      </div>
      
      <tr>
      
      <th>10:00 - 11:00</th>
      
      <td>Applied Mathematics </td>
      
      <td>Computer Networks</td>
      
      <td>Information Theory and Coding</td>
      
      <td>Computer Organization and Architecture</td>
      
      <td>Automata Theory</td>
      
      
      </div>
      
      </tr>
      
      <tr>
      
      <th>11:00 - 12:00</th>
      
      <td>Information Theory and Coding</td>
      
      <td>Web Programming</td>
      
      <td>Computer Networks</td>
      
      <td>Computer Networks</td>
      
      <td>Automata Theory</td>

      
      </div>
      
      </tr>
      
      <tr> <th>12:00 - 01:00</td>
      
      <td>Applied Mathematics</th>
      
      <td>Information Theory and Coding</td>
      
      <td>Automata Theory</td>
      
      <td>Computer Networks</td>
      
      <td>Web Programming</td>
      

      
      </div>
      
      </tr>
      
      <tr>
      
      <th>01:00 - 02:00</th>
      
      <td>Applied Mathematics</td>
      
      <td>Computer Organization and Architecture</td>
      
      <td>Automata Theory</td>
      
      <td>Web Programming</td>
      
      <td>Information Theory and Coding</td>
      
      </div>
      
      </tr>
      
      <tr>
      
      <th>02:00 - 03:00</th>
      
      <td>Applied Mathematics</td>
      
      <td>Web Programming</td>
      
      <td>Automata Theory</td>
      
      <td>Computer Organization and Architecture</td>
      
      <td>Information Theory and Coding</td>
      
      
      </div>
      
      </tr>
      
      </table>
  {% endblock %}