{% extends "base.html" %}

    {% block content %}
        <header>
            <h1>Elija como quiere "optimizar" su Horario</h1>
        </header>
            <form method="POST" action="{{url_for('horario')}}">
                <!-- <input type="hidden" name="secciones_arr" value="{{ secciones }}"> -->
                <input type="hidden" name="aux" value="0">
                <table>
                    <tr>
                        <td><input type="radio" value="1" class="danger" name='my_checkbox'></td>
                        <td>Ver TODAS las Opciones.</td>
                    </tr>
                    <tr>
                        <td><input type="radio" value="2" class="danger" name='my_checkbox'></td>
                        <td>Ventanas entre clases chikitas(v1).</td>
                    </tr>
                    <tr>
                        <td><input type="radio" value="3" class="danger" name='my_checkbox'></td>
                        <td>Ventanas entre clases chikitas(v2).</td>
                    </tr>
                    <tr>
                        <td><input type="radio" value="4" class="danger" name='my_checkbox'></td>
                        <td>Salir Temprano (antes del bloque E).</td>
                    </tr>
                    <tr>
                        <td><input type="radio" value="5" class="danger" name='my_checkbox'></td>
                        <td>Entrar Tarde (desde el bloque C).</td>
                    </tr>
                </table>
                <br>
                <button type="submit">Elegir Opción</button>
            </form>
    {% endblock %}